*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}


header{
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;

}

.logout_btn{
  color: #E0ECF8;
  padding: 7px;
  background: transparent;
  text-decoration: none;
  border:0.5px solid #E0ECF8;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;

}

.logout_btn:hover{
  background: #E0ECF8;
}

.sidebar {
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  opacity: 0.97;
}

.sidebar .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.sidebar h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;

}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;

}

.sidebar a:hover{
  background: #22242A;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color:#22242A;
}

#check:checked ~ .sidebar{
  left: -190px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

/*
.content{
  margin-left: 250px;
  background: url(background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}*/

#check:checked ~ .content{
  margin-left: 60px;
}

#check{
  display: none;
}
